.app {
  padding: 16px;
}

.app-title {
  margin: 8px 0 16px;
}

.app-list {
  list-style: none;
}

.app-item {
  margin: 8px 0;
  cursor: pointer;
}

.app-item--done {
  opacity: 0.5;
  text-decoration: line-through;
}

.app-form {
  border: 1px solid #333;
  padding: 16px;
  width: 300px;
}

.app-input {
  display: block;
  border: 1px solid #333;
  margin: 8px 0;
  padding: 8px;
  width: 100%;
}

